body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom, #2e004f, #4f00a7);
  color: white;
  text-align: center;
  margin: 0;
  padding: 0;
}

.container {
  padding: 30px;
  max-width: 400px;
  margin: auto;
  margin-top: 50px;
  background: #000000aa;
  border-radius: 20px;
  box-shadow: 0 0 10px black;
}

input, button {
  display: block;
  width: 90%;
  padding: 12px;
  margin: 10px auto;
  border: none;
  border-radius: 8px;
  font-size: 16px;
}

button {
  background: gold;
  color: black;
  font-weight: bold;
  cursor: pointer;
  }
